<header>
    <span id="siteName">
      <a href="/" title="Return to home page">
        <img src="/images/site/CSEMotors-logo.png" loading="lazy" alt="CSEMotors logo">
        </a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
  </header>