<section class="hero" id="hero">
    <h1 id="hero-h1">Welcome to <span class="yellow-high">CSE</span> Motors!</h1>
    <div id="hero-box">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
    <div id="hero-img">
        <img src="/images/site/car-hero.png" loading="lazy" alt="car display hero">
    </div>
</section>
<section id="info">
    <div id="reviews">
        <h3>DMC Delorean Services</h3>
        <ul>
            <li>"So fast it's almost like travelling in time" (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it" (5/5)</li>
        </ul>
    </div>
    <div id="upgrades">
        <h3>Delorean Upgrages</h3>
        <div class="section-box">
            <div class="section-box-illus">
                <img src="/images/upgrades/flux-cap.png" alt="flux image">
            </div>
            <div class="section-box-title">
                <h4>Flux Capacitor</h4>
                <p>Read More</p>
            </div>
        </div>
        <div class="section-box">
            <div class="section-box-illus">
                <img src="/images/upgrades/flame.jpg" alt="flame image">
            </div>
            <div class="section-box-title">
                <h4>Flame Decals</h4>
                <p>Read More</p>
            </div>
        </div>
        <div class="section-box">
            <div class="section-box-illus">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper image">
            </div>
            <div class="section-box-title">
                <h4>Bumper Stickers</h4>
                <p>Read More</p>
            </div>
        </div>
        <div class="section-box">
            <div class="section-box-illus">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap image">
            </div>
            <div class="section-box-title">
                <h4>Hub Caps</h4>
                <p>Read More</p>
            </div>
        </div>
    </div>
    
</section>