<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  
  <%# messages() %>
  
  <!-- Vehicle Detail Content -->
  <div class="vehicle-container">
    <%- vehicleHtml %>
  </div>